body{
  background: url(/src/assets/HK-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;

  font-family: Arial, Helvetica, sans-serif;
  
  margin: 0;
  padding: 0;
}

.app-container{  
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  
  height: 100vh;
  width: 100%;
  
}

.app-display{
  background-color: white;

  width: 65%;
  height: 85vh;
  min-height: 415px;
  min-width: 920px;
  border: 5px solid black;
  border-radius: 20px;
  
  position: relative;
}

.side-bar{
  background-color: white;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 120px;
  border-top-left-radius: 23px;
  border-bottom-left-radius: 23px;
  border-right: 1px solid lightgray;

  display: flex;
  flex-direction: column;
  /* align-items: center; */
}

.add-note-button{
  height: 40px;
  width: 40px;
  border-radius: 20px;
  background-color: rgb(66, 66, 66);
  color: white;
  font-weight: bold;
  font-size: 30px;
  border: none;
  margin-top: 80px;
  margin-left: 40px;
  margin-bottom: 10px;
  cursor: pointer;
}

.color-button{
  width:20px;
  height:20px;
  border-radius:50%;
  margin: 8px;
  cursor: pointer;
}

.color1{
  background-color: #ff6161;
  border: 1px solid #ff6161;
}

.color2{
  background-color: lightpink;
  border: 1px solid lightpink;
}

.color3{
  background-color: rgb(189, 141, 255);
  border: 1px solid rgb(189, 141, 255);
}

.color4{ 
  background-color: rgb(123, 231, 255);
  border: 1px solid rgb(123, 231, 235);
}

.color5{
  background-color: rgb(151, 255, 168);
  border: 1px solid rgb(151, 255, 168);
}

.color6{
  background-color: rgb(249, 249, 93);
  border: 1px solid rgb(249, 249, 93);
}



.search-bar{
  margin-left: 120px;
  border-top-right-radius: 12px;
  border-left: 1px solid lightgray;
  position: absolute;
  right: 0;
  left: 0;
}

.note-section{
  /* background-color: lightcoral; */
  margin-left: 120px;
  height: 614.5px;
  border-top-right-radius: 23px;
  border-bottom-right-radius: 23px;
}

.note-box-display{
  /* background-color: blue; */
  display: flex;
  flex-wrap: wrap;
  height: 69vh;
  min-height: 330px;
  overflow-y: auto;
  border-bottom-right-radius: 23px;
}

.note-box-display::-webkit-scrollbar{
  width: 5px;
}

.note-box-display::-webkit-scrollbar-thumb{
  background-color: rgb(187, 187, 187);
  height: 50px;
  cursor: grabbing;
  border-radius: 50px;
}

.note-box{
  background-color: lightblue;
  height: 220px;
  width: 220px;
  margin-bottom: 20px;
  margin-top: 20px;
  margin-left: 37px;
  border-radius: 12px;
  padding: 0;
  display: hidden;
  position: relative;
}

.delete-button{
  height: 27px;
  width: 27px;
  position: absolute;
  right: 0px;
  top: 0px;
  border: none;
  border-radius: 50%;
  border-top-right-radius: 40%;
  border-top-left-radius: 0;
  border-bottom-right-radius: 0;
  font-size: 17px;
  font-weight: bold;
  font-family: arial;
  background-color: white;
  color: rgb(105, 105, 105);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}
.note-box:hover .delete-button{
  opacity: 1;
  visibility: visible;
}
.delete-button:hover{
  color: rgb(219, 41, 41);
  transition: 0.5s ease;
}

.note-input{
  margin-top: 19px;
  margin-left: 20px;
  border: none;
  outline: none;
  resize: none;
  height: 160px;
  width: 160px;
  font-family: Arial, Helvetica, sans-serif;
}

@media(min-width: 500px) and (max-width: 710px){
  .app-display{
    min-width: 420px;
  }
  .note-box{
    margin-left: 47px;
  }
}

@media(min-width: 710px) and (max-width: 1070px){
  .app-display{
    min-width: 660px;
  }
}

@media(min-width: 1071px) and (max-width: 1150px){
  .app-display{
    min-width: 920px;
  }
}

@media(min-height: 1px) and (max-height: 150px){
  .app-container{
    margin-top: 155px;
  }
}

@media(min-height: 151px) and (max-height: 250px){
  .app-container{
    margin-top: 15%;
  }
}
@media(min-height: 251px) and (max-height: 300px){
  .app-container{
    margin-top: 10%;
  }
}

@media(min-height: 301px) and (max-height: 350px){
  .app-container{
    margin-top: 7%;
  }
}
@media(min-height: 351px) and (max-height: 430px){
  .app-container{
    margin-top: 5%;
  }
}